#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
# [Homebrew](https://brew.sh/)
if ! [ -x "$(command -v brew)" ]; then
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
  sudo chgrp -R admin $(brew --prefix) /usr/local/share/bash-completion/completions /usr/local/share/emacs/site-lisp
  sudo chmod -R g+rwX $(brew --prefix) /usr/local/share/bash-completion/completions /usr/local/share/emacs/site-lisp
fi

## Taps
brew tap homebrew/cask-fonts

## Formulae / Casks
brew install \
  antibody \
  bat \
  bit-git \
  chezmoi \
  coreutils \
  curl \
  exa \
  fzf \
  git \
  git-delta \
  karabiner-elements \
  spotifyd \
  spotify-tui
brew install --HEAD neovim

## Services
brew services start spotifyd

# [asdf](https://asdf-vm.com/#/)
if [ ! -d ~/.asdf ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.0
fi

# [Antibody](https://getantibody.github.io/)
antibody bundle < ~/.zsh_plugins.txt > ~/.zsh_plugins.sh

# [Preferences](https://pawelgrzybek.com/change-macos-user-preferences-via-command-line/)
osascript -e 'tell application "System Preferences" to quit'

defaults write 'Apple Global Domain' AppleInterfaceStyle -string Dark

defaults write com.apple.controlcenter 'NSStatusItem Visible UserSwitcher' -boolean true
defaults write com.apple.dock mru-spaces -boolean false

defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -boolean false
{{ end -}}

# Git
git config --global user.name "{{ .git.username }}"
git config --global user.email "{{ .git.email }}"
git config --global core.pager delta
git config --global init.defaultBranch main
