#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
if ! [ -x "$(command -v brew)" ]; then
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
fi

brew tap homebrew/cask-fonts

brew install \
  antibody \
  bit-git \
  chezmoi \
  font-caskaydia-cove-nerd-font \
  fzf \
  spotifyd \
  spotify-tui

brew services start spotifyd

osascript -e 'tell application "System Preferences" to quit'

defaults write 'Apple Global Domain' AppleInterfaceStyle -string Dark
{{ end -}}
